.adminHome {
    max-width: 1000px;
    margin: 2rem auto;
    color: #333;
    }
.adminHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e2f;
    color: white;
}